[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
arrow = "*"
requests = "*"
aiohttp-cors = "*"
pyjwt = "*"
cryptography = "*"
fastapi = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
